// Place all the styles related to the OH controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  height: 90vh;
}

#mainContainer {
  height: 100%;
}

#main {
  height: 100%;
}
