<% if flash[:notice] %>
  <div class="alert alert-info notice" role="alert" id="notice">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:warning] %>
  <div class="alert alert-danger alert" role="alert" id="warning">
    <%= flash[:warning] %>
  </div>
<% end %>
